*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color:rgb(79, 84, 88);
    font-family: sans-serif;
background-color: #0f172a;
}
h1{
    text-align: center;
    margin: 20px;
    color:#0a84ff ;
}
form{
    transition: all 2s;
    background-color: #1e293b;
    width: 60%;
    height: 400px;
    padding: 20px;
    margin: 100px auto;
    border: 2px solid black;
    border-radius: 10px;
    text-align: center;
    font-size: 14px;
    box-shadow: 0px 0px 40px black;
    background-image: url(../project/img/);
}
input{
    margin: 10px 0;
    width: 80%;
    height: 10%;
    border: 0;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    transition: all 6s;
}
input:hover{
    box-shadow: 0 0 10px #0a84ff;
}
input[type="submit"]{
    width: 80%;
    border-radius: 20px;
    box-shadow: 0 0 10px black;
    transition: all 2s;
}
input[type="submit"]:hover{
box-shadow: 0 0 10px aqua;
}
p{
    color: white;
    display: inline-block;
}
a{
    color: #4da6ff;
    text-decoration: none;
}
a:hover{
    color: #0a84ff;
    text-shadow: 0 0 10px #455c74;
}