* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
/* ddd */

body {
  background: #0f172a;
  color: #fff;
}

/* HEADER */
.header {
  background: #1e293b;
  padding: 12px 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  position: sticky;
  top: 0;
  z-index: 100;
}
.header {
  position: sticky;
  top: 0;
  background: var(--bg-main);
  z-index: 100;
}
.header-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  color: #ff3b3b;
}

.menu-btn {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}

/* SEARCH */
.search-box input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
  border: none;
  outline: none;
  background: #e5e7eb;
  color: #fff;
}

.search-box input::placeholder {
  color: #aaa;
}

/* MOBILE NAV */
.mobile-nav {
  position: fixed;
  top: 0;
  right: -100%;
  width: 70%;
  height: 100vh;
  background: #1e293b;
  display: flex;
  flex-direction: column;
  padding: 60px 20px;
  gap: 16px;
  transition: 0.3s ease;
}

.mobile-nav a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  border-bottom: 1px solid #222;
  padding-bottom: 8px;
}

.mobile-nav.active {
  right: 0;
}
/* CATEGORIES */

.categories {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  padding: 16px;
}
.cat {
  background: var(--bg-card);
  padding: 10px 14px;
  border-radius: 12px;
  white-space: nowrap;
  font-size: 14px;
}
.categories div {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
}
.picter1 img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.imgehed {
  margin-top: 5%;
  display: flex;
}
.picter2 img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
/* tafif */
* {
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, sans-serif;
}
.cont {
  margin: 5%;
  border: 1px solid #0a84ff;
  border-radius: 10px;
  background-image: url(../img/ChristmasSnow.gif);
}
.section-title {
  text-align: center;
  gap: 10px;
  margin-bottom: 30px;
}
.badge {
  background: var(--accent);
  padding: 6px 14px;
  border-radius: 999px;
  font-size: 75%;
  box-shadow: 0 0 100px #0a84ff;
  text-align: center;
}
.ulvishe {
  text-align: center;
}
.ulvishe li {
  background-color: #1f1f1f;
  list-style-type: none;
  width: 35%;
  text-align: center;
  display: inline-block;
  border-radius: 10px;
  margin: 5%;
}
.ulvishe img {
  padding: 10%;
  width: 100%;
}
a {
  text-decoration: none;
  color: white;
}
.ulvishe p {
  font-size: 60%;
  color: white;
  padding: 3%;
  margin-top: -5%;
}
.ulvishe span {
  font-weight: 800;
}
.old {
  color: firebrick;
  text-decoration: line-through;
  font-size: 55%;
}
.new {
  font-size: 70%;
  font-weight: bold;
  color: forestgreen;
  display: ruby-text;
  margin: 0;
}
.darsad {
  border-radius: 20px;
  background-color: red;
  text-align: left;
  color: white;
  font-size: 60%;
  margin-left: 0%;
}
.price {
  text-align: left;
  margin-left: 5%;
}
.laptaptab {
  margin: 5%;
}
.laptaptab img {
  width: 100%;
  height: 150px;
  border-radius: 10px;
}
/* mobile */
.products {
  background-color: #1e293b;
  color: #fff;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 0px 0px 30px #1e293b;
  margin: 10% 0%;
}

.products-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: #1e293b;
}

.more-btn {
  background: none;
  border: none;
  color: #4da6ff;
  font-size: 14px;
}

.product-list {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}
.product-list::-webkit-scrollbar {
  display: none;
}

.product-card {
  min-width: 140px;
  background: #0f172a;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  scroll-snap-align: start;
}

.product-card img {
  width: 100%;
  height: 120px;
  object-fit: contain;
}

.product-card p {
  font-size: 14px;
  margin: 6px 0;
  overflow: hidden;
}

.product-card span {
  color: #00ff99;
  font-size: 13px;
}
/* bazdid */
.section-bazdid {
  background-color: #1e293b;
  color: #fff;
  padding: 12px;
  border-radius: 12px;
  background-color: #1e39;
  margin: 10% 0%;
}
.section-matn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: #1e39;
  margin: 1%;
  border-radius: 20px;
}
.section-matn h3 {
  margin: 2%;
  color: #e5e7eb;
}
.section-list {
  display: flex;
  gap: 12px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  background-color: #1e293b;
  border-radius: 10px;
}
.product-plus {
  min-width: 60px;
  height: 50px;
  background: #0f172a;
  border-radius: 50px;
  padding: 10px;
  text-align: center;

  margin: 10% 5%;
}
.plus {
  font-size: smaller;
}
/* tagfif */
.section-bazdi2 {
  background-color: #1e293b;
  color: #fff;
  padding: 12px;
  border-radius: 12px;
  background-color: #ff3b3b;
  margin: 10% 0%;
}
.section-matn2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  background-color: red;
  margin: 1%;
  border-radius: 20px;
  padding: 2%;
}
.navbarpc {
  display: none;
}
@media (min-width: 768px) {
  /* navbar */
  .logo {
    font-size: 25px;
  }
  .menu-btn {
    font-size: 30px;
  }
  .navbar {
    padding: 16px 32px;
  }

  .categories {
    text-align: center;
    gap: 12px;
    overflow-x: visible;
    justify-content: center;
    margin-bottom: 3%;
  }
  .cat {
    background: var(--bg-card);
    padding: 10px 14px;
    border-radius: 12px;
    white-space: nowrap;
    font-size: 17px;
  }
  .categories:hover {
    color: #0a84ff;
  }
  .categories div {
    display: inline;
  }
  .menu-btn {
    width: 42px;
    height: 42px;
  }
  /* tablig */
  .picter2 img {
    display: none;
    width: 100%;
  }
  .picter1 {
    width: 100%;
    height: 240px;
  }
  .imgehed {
    display: block;
  }
  /* zamestani */
  .ulvishe p {
    font-size: 100%;
  }
  .section-title {
    margin: 5%;
  }
  .badge {
    font-size: 100%;
  }
  .darsad {
    font-size: 80%;
  }
  .old {
    font-size: medium;
  }
  .new {
    font-size: larger;
  }
  .laptaptab img {
    height: 33lvw;
  }
  .products h3 {
    font-size: 150%;
    margin: 1%;
  }
  .more-btn {
    font-size: medium;
  }
  /* list */
  .product-card img {
    border: 2px solid #1e293b;
    border-radius: 10px;
  }
  .navbarpc {
    display: none;
  }
}
@media (min-width: 1200px) {
  .navbarpc {
    display: block;
  }
  .navbar {
    display: none;
  }
  .categories {
    display: none;
  }
  .logopc {
    color: #ff3b3b;
    font-size: 150%;
    font-weight: bold;
    margin: 2%;
  }
  .divlogopc {
    text-align: right;
    display: block;
    margin: 2%;
  }
  .serch {
    width: 40%;
    border-radius: 10px;
    padding: 5px;
    border-style: double;
  }
  .dastyar {
    display: inline-block;
    justify-content: left;
  }
  .hesab {
  }
}
